<h2>Team Management</h2>
<table *ngIf="teams.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td>{{ team.name }}</td>
      <td>
        <a [routerLink]="['/team', team.id]">View Team</a>
        <button *ngIf="isCaptain(team.id)" (click)="deleteTeam(team.id)">
          Delete Team
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-create-team (teamCreated)="onTeamCreated()"></app-create-team>

<div *ngFor="let membership of teamMemberships">
  <app-list-team-games
    [canDelete]="false"
    [canConfirm]="true"
    [team]="findTeamById(membership.teamId)"
  ></app-list-team-games>
</div>
